#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -76px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    /* border-bottom: 16px solid red;
    border-left: 16px solid yellow; */
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    /* box-shadow: 10px 10px 50px white; */
}

/* @-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
} */

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

/* @-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
} */

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  
#myDiv {
    display: none;
    text-align: center;
}

body{
    overflow-x: hidden;
    background: url(../images/b_ground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

li{
    font-size: 5mm;
    color: black;
}

li:hover{
    text-shadow: 1px 1px 2px black;
}

.heading{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10mm;
    letter-spacing: 1px;
    text-align: center;
    color:black;
    background-color: rgba(255,255,255,0.9);
    width:100%;
}

.heading:hover{
    text-shadow: 1px 1px 1px black;
    background-color:rgba(255,255,255,0.9);

}

.logoimage{
    width: 38px;
    height: 38px;
    margin-bottom: 6px;
    border: 2.25px solid black;
}

.space1{
    width: 100%;
    height: 10mm;
    background-color: transparent;
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
}
.box{
    box-shadow: 0 0 255px #000000;
}

.playlists{
    background-color: rgba(255,255,255,1);
    /* background-image: url(../images/text_bg2.jpg); */
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;  
}

.playlist_head{
    font-size: xx-large;
    padding: 5px;
    margin: 5px;
}

.videos{
    border: 2px solid rgb(122, 251, 255);
}

.videos:hover{
    /* box-shadow: 0 0 20px black; */
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.connections{
    background-color: rgba(255,255,255,0.9);
}

/* .sm:hover{
    box-shadow: 0 0 10px 4px black;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr {
    max-width: 400px;
    border-color: #999999;
}
.secondary_sm{
    height: 50px;
}

.textbox{
    /* background-color: rgba(255,255,255,0.9); */
    background-image: url(../images/text_bg2.jpg) ;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size:large;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    padding: 10px;

}

.textbox>a{
    color:rgba(0, 0, 255)
}

.bg_form{
    background-color: #f1c8ff;
    /* opacity: 0.9; */
    margin-left: 15%;
    margin-right: 15%;
    /* width:100%; */
    margin-bottom: 2%;
    box-shadow: 0 0 15px black;
}


footer {
    background: rgba(255,255,255,0.9);
    position: relative;
}

footer p {
    margin: 0;
    padding: 50px 0;

} 
@media  screen and (min-width: 768px) {
    .gform{
        height: 1305px;
        width: 640px;
    }
    
}

@media screen and (max-width:768px) {

    .heading{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 6mm;
        letter-spacing: 1px;
        text-align: center;
        color:black;
        background-color: rgba(255,255,255,0.9);
        width:100%;
    }

    .bg_form{
        background-color: #f1c8ff;
        /* opacity: 0.9; */
        /* margin-left: 15%;
        margin-right: 15%; */
        width:100%;
        margin-bottom: 2%;
        box-shadow: 0 0 15px black;
    }
    #loader{
        display: none;
    }
    .sec_div{
        height: 60px;
    }
    .gform{
        height: 1450px;
        width: 350px;
    }
}
