
body{
    background: url(../images/b_ground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.heading{
    text-transform: uppercase;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-size: 11mm;
    letter-spacing: 1px;
    text-align: center;
    color:black;
    background-color: white;
    width:100%;
}

.heading:hover{
    text-shadow: 4px 4px 8px white;
    background-color:transparent;
    
}

.logoimage{
    width: 38px;
    height: 38px;
    margin-bottom: 6px;
    border: 2.25px solid black;
}

  



